# This is a basic workflow to help you get started with Actions

name: Build extension

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: .\build.ps1
        shell: pwsh

      - name: Store vsix
        uses: actions/upload-artifact@v2.2.4
        with:
          name: vsix
          path: ./*.vsix
    
  deploy-dev:
    runs-on: windows-latesrt
    needs: build
    environment: dev
    
    steps:
    - name: Download a Build Artifact
      uses: actions/download-artifact@v2.0.10
      with:
        name: vsix
        
    - run: |
        & npm install -g tfx-cli
        & tfx extension publish --vsix jessehouwing.pre-post-tasks-dev-*.vsix --auth-type pat --token ${{ secrets.AZURE_DEVOPS_MARKETPLACE }}
      shell: pwsh
      
  deploy-public:
    runs-on: windows-latesrt
    needs: build
    environment: dev
    
    steps:
    - name: Download a Build Artifact
      uses: actions/download-artifact@v2.0.10
      with:
        name: vsix
        
    - run: |
        & npm install -g tfx-cli
        & del jessehouwing.pre-post-tasks-dev-*.vsix
        & tfx extension publish --vsix jessehouwing.pre-post-tasks-*.vsix --auth-type pat --token ${{ secrets.AZURE_DEVOPS_MARKETPLACE }}
      shell: pwsh
